body {
    font-family: Impact;
    font-size: 14pt;
}

header{
    text-align: center;
    display: block;
}

section {
   display: flex; 

}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
	background-color: darkgrey;
	margin: 10px;
	top: 50px;
	left: 50px;
	border-radius: 5px;
}